
<section class="contact">
    <header>
        <h3>Masz Problem?...Napisz do nas:</h3>
    </header>
    <p>
        <span class="label">Kontakt:</span>
        <span><a href="mailto:axxxon.pl@gmail.com">axxxon.pl@gmail.com</a></span>
    </p>
</section>
