@using QuickAd.Models
@{
    ViewBag.Title = "Główna";
}

<section class="featured">
    <div class="content-wrapper">
        <h1>Strona główna</h1>
        @using (Html.BeginForm("Index","Advert",FormMethod.Post)){
        <div class="big-select">
            <select name="territory">
                @foreach (Territory t in ViewBag.Regions)
                {
                    <option value="@t.GetId()">@t.GetName()</option>
                }
            </select>
        </div>
        
        <div class="big-select">
            <select name="category">
                @foreach (AdvertCategory c in ViewBag.Categories)
                {
                    <option value="@c.GetId()">@c.GetName()</option>
                }
            </select>
        </div>
        <input type="submit" value="Szukaj">
        }
    </div>
</section>

