@model QuickAd.Models.AdvertRate

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Rate","Advert")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AdvertRate</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vrate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vrate)
            @Html.ValidationMessageFor(model => model.Vrate)
        </div>

        <p>
            <input type="submit" value="Oceń" />
        </p>
    </fieldset>
}
