@using QuickAd.Models
@model IEnumerable<QuickAd.Models.Image>

<table>
@{
    int i=0;
    }
@foreach (Image item in Model) {
    if(i % 3 == 0){
        @String.Format("<tr>")
    }
    
        <td>
           <a href="/@Html.DisplayFor(modelItem => item.Vpath)" rel="lightbox[gallery]" onclick="javascript:void(0);"><img class="gallery" src="/@Html.DisplayFor(modelItem => item.Vpath)" width="160px" height="160px" /></a>
        </td>
        
    if(i % 3 == 0)
    {
        @String.Format("</tr>")
    }
}

</table>

