@using QuickAd.Models
@model IEnumerable<QuickAd.Models.Image>

<table>
   
@foreach (Image item in Model) {
    <tr>
        <td>
           <img src="/@Html.DisplayFor(modelItem => item.Vpath)" width="160px" height="160px" />
        </td>
        
        <td>
        </td>
    </tr>
}

</table>
